<button class="btnBuscar" (click)="mostrarBuscador()">
    <img src="./assets/svg/search-ico.svg" alt="Buscar" *ngIf="!openSearch;else cerrarIco">
    <ng-template #cerrarIco><img src="./assets/svg/close.svg" alt="Cerrar"></ng-template>
</button>
<div class="searchForm" [ngClass]="openSearch? 'open':''">
    <div class="searchModule">
        <form autocomplete="off">
            <label for="nombre">Buscar</label>
            <input type="text" name="nombre" #peliBuscada placeholder="Qué película buscas" (input)="intentarBuscar()" [(ngModel)]="searchedMovie">
        </form>
        <div class="searchResultContent">
            <ul>
                <li *ngIf="!sugerencias">No se encuentra la película</li>
                <li *ngFor="let movie of searchResult" class="searchSugest">
                    <a href="#">
                        <img [src]="movie.movie_banner" [alt]="movie.title">
                        <span class="titleRes">
                            {{movie.title}}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>